.bawhud{
	height: 100%;
	width: 100%;
}
.betsBg{
	align: center top;
	height: 60px;
	width: 500px;
	margin-top: 50px;
	overflow: noclip noclip;
}
.betsBg Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
}
#rightTeam{
	align: right top;
	text-align: right;
}
.betsBar{
	align: center bottom;
	height: 15px;
	width: 100%;
	background-color: #6E0909;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.hpbarbg{
	align: center bottom;
	height: 10px;
	width: 100%;
}
#leftBar{
	height: 100%;
	width: 50%;
	align: left center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #103683 ), color-stop( .5, #1D37FD), to( #103683 ) );
}
#rightBar{
	height: 100%;
	width: 50%;
	align: right center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #831010 ), color-stop( .5, #fd1d1d), to( #831010 ) );
}
.betsBar Label{
	font-size: 13;
}
#rightPct{
	margin-left: 5px;
}
#leftPct{
	text-align: right;
	align: right center;
	margin-right: 5px;
}
.makeBetPanel{
	align: center center;
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/hud/reborn/bg_hud_inspect_psd.vtex");
	/*box-shadow: #000000 -12px -12px 24px 24px;*/
	background-size: 100%;
	visibility: collapse;
	z-index: -1;
}
.versus{
	align: center center;
	color:white;
	font-weight: bold;
	font-size: 60;
	text-shadow: 1px 1px 1px 2 #00000099;
	margin: 0 0 50px 0;
}
.makeBetPanel Button{
	height: 30px;
	width: 100px;
	background-color: #1D37FD;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	align: left bottom;
}
.makeBetPanel Button:hover{
	brightness: 2;
}
.makeBetPanel Button:active{
	brightness: 0.2;
}
#leftBet{
	margin: 0 0 50px 16%;
}
#rightBet{
	background-color: #fd1d1d;
	align: right bottom;
	margin: 0 16% 50px 0;
}
.makeBetPanel Button Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
	align: center center;
	text-align: center;
}
Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
}
.teamG{
	width: 45%;
	max-height: 85%;
	flow-children:right-wrap;
	overflow: clip scroll;
}
#leftTeamG{
	align: left center;
	margin: 0 0 0 20px;
	flow-children:left-wrap;
}
#rightTeamG{
	align: right center;
	margin: 0 20px 0 0;
}
#round{
	align: center top;
}
.topbar{
	align: center top;
	height: 50px;
flow-children: right;
}
.playertb{
width: 65px;
height: 100%;
}
.hpbg{
	align: right center;
	width: 15px;
	height: 50px;
	background-color: #6E0606;
}
.hp{
	width: 100%;
	height: 100%;
	align: right bottom;
	background-color: gradient( linear, 0% 50%, 100% 50%, from( #208310 ), color-stop( .5, #28FD1D), to( #208310 ) );
}
.avatarimage
{
	align: left center;
	width: 50px;
	height: 50px;
	box-shadow: #000000aa 0px 0px 5px 0px;
}
.hpbg Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	align: center center;
	text-align: center;
	text-shadow: 1px 1px 10px 10 #00000099;
}
.teamScenePanel{
	height: 300px;
	width: 200px;
	border: 1px solid black;
	background-size: 100%;
	background-image: url("s2r://panorama/images/backgrounds/dashboard_background_ingame_psd.vtex");
}
.teamScene{
	height: 70%;
	width: 100%;
	margin-top: 12px;
	z-index: -10;
}
.sceneAbilityList{
	width: 100%;
	align: center bottom;
	flow-children: right-wrap;
	z-index: 10;
	margin-bottom: 25px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #25282acc ), color-stop( .5, #25282acc), to( #000000dd ) );
}
.sceneAbilityList DOTAAbilityImage{
	width: 33px;
	height: 33px;
	flow-children: right-wrap;
}
.teamSceneLabel{
	align: center top;
	text-align: center;
	margin: 0;
	width: 100%;
	font-size: 10;
	z-index: 10;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #103683 ), color-stop( .5, #1D37FD), to( #103683 ) );
}
#rightTeamG .teamSceneLabel{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #831010 ), color-stop( .5, #fd1d1d), to( #831010 ) );
}
.itemSlots{
	height: 25px;
	width: 100%;
	flow-children: right-wrap;
	align: center bottom;
	background-color: black;
}
.item{
	height: 100%;
	width: 16.6%;
	background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
	background-color: #1a1c1d;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset #00000099 5px 5px 10px 10px 5;
	border: 1px solid black;
	border-bottom: 1px solid #ffffff06;
}
.pwlabel{
	font-size: 30px;
}
#pwleft{
	text-align: right;
	margin: 70px 0 0 15%;
}
#pwright{
	align: right top;
	margin: 70px 15% 0 0;
}
.hpteambg{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #232323 ), color-stop( .5, #4D4D4D), to( #232323 ) );
	box-shadow: #000000f5 -3px -2.5px 5px 5px;
	border-radius: 5px;
	height: 100%;
	width: 45%;
}
.teamhp{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0F4F00 ), color-stop( .5, #167400), to( #0F4F00 ) );
	height: 100%;
	width: 100%;
}
.hpteambg Label{
	align: center center;
	text-align: center;
	font-size: 10;
}
.vote{
	background-color: #195903;
	padding: 10px;
	box-shadow: #000000f5 -3px -2.5px 5px 5px;
	align: right bottom;
	margin: 100px;
	margin-right: 350px;
	z-index: -2;
}
.vote:hover{
	brightness: 2;
}
.vote:active{
	brightness: 0.7;
}
.bar{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #232323 ), color-stop( .5, #4D4D4D), to( #232323 ) );
	width: 100%;
	height: 15px;
	align: center bottom;
	margin-bottom: 73px;
}
.mpbar{
	margin-bottom: 58px;
}
.bar Label{
	align: center center;
	text-align: center;
	font-size: 13;
	margin-bottom: 2px;
}
#unithp{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25));
}
#unitmp{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287 ) );
}
#unithp DOTAScenePanel{
	height: 100%;
	width: 100%;
}
#unitmp DOTAScenePanel{
	height: 100%;
	width: 100%;
	hue-rotation: 50deg;
	opacity: .4;
}
#unithpplus,#unitmpplus{
	align: right center;
	text-align: right;
	color: #41D51A;
	margin-right: 5px;
}
#unitmpplus{
	color: #819FED;
}
#time{
	align: center bottom;
	margin-bottom: -5px;
	font-size: 20;
}
.unitstat{
	color: #aaa;
	font-weight: normal;
	font-size: 14px;
}
.unitstats{
	flow-children: down;
	align: right top;
	margin: 14px 3px 0 0;
}
.unitstat{
	text-align: right;
	align: right top;
	padding-right: 18px;
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: right center;
}
#unitdamage{
	background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
}
#unitarmor{
	background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
}
#unitatkspd{
	background-image: url("s2r://panorama/images/hud/reborn/icon_attack_speed2_psd.vtex");
}
#unitatkrng{
	background-image: url("s2r://panorama/images/hud/reborn/icon_attack_range_psd.vtex");
	wash-color: #aaa;
	color: white;
}

.no_level 
{
	saturation: 0;
	wash-color: #666666;
}





.right{
	horizontal-align: right;
}

#xp {
	margin-top: 15px;
}


#LevelLabel
{
	font-weight: normal;
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291;
    width: 30px;
    text-align: center;
    vertical-align: bottom;
    font-size: 18px;
	horizontal-align: center;
    z-index: 50;
	
	margin-bottom: 5px;
	margin-left: 3px;
}

#CircularXPProgress
{
    width: 32px;
    height: 32px;
    horizontal-align: left;
	padding: 0px;
	margin-top: 2px;
	margin-left: 5px;
	vertical-align: middle;
	//opacity-mask: url("s2r://panorama/images/masks/vertical_gradient_small_psd.vtex");
}

#CircularXPProgressBlur_FG,
#CircularXPProgress_FG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 1.5px solid #E7D291;
    z-index: 50;
	transition-property: clip;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#CircularXPProgressBlur_BG,
#CircularXPProgress_BG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #393939;
    z-index: 40;
    background-color: #000000FF;
    //box-shadow: #00000055 -2px -2px 4px 4px;
}

#CircularXPProgressBlur_FG
{
	border: 2px solid #DA6F00;
}


#CircularXPProgressBlur_BG
{
	border-color: #000000;
}