.bawhud{
	height: 100%;
	width: 100%;
}
.betsBg{
	align: center top;
	height: 40px;
	width: 500px;
	margin-top: 50px;
	overflow: noclip noclip;
}
.betsBg Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
}
#rightTeam{
	align: right top;
	text-align: right;
}
.betsBar{
	align: center bottom;
	height: 15px;
	width: 100%;
	background-color: #6E0909;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	border-radius: 5px;
}
#leftBar{
	height: 100%;
	width: 50%;
	align: left center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #103683 ), color-stop( .5, #1D37FD), to( #103683 ) );
}
#rightBar{
	height: 100%;
	width: 50%;
	align: right center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #831010 ), color-stop( .5, #fd1d1d), to( #831010 ) );
}
.betsBar Label{
	font-size: 13;
}
#rightPct{
	margin-left: 5px;
}
#leftPct{
	text-align: right;
	align: right center;
	margin-right: 5px;
}
.makeBetPanel{
	align: center center;
	height: 500px;
	width: 900px;
	background-image: url("s2r://panorama/images/hud/reborn/bg_hud_inspect_psd.vtex");
	box-shadow: #000000 -12px -12px 24px 24px;
	background-size: 100%;
	visibility: collapse;
}
.versus{
	align: center center;
	color:white;
	font-weight: bold;
	font-size: 60;
	text-shadow: 1px 1px 1px 2 #00000099;
	margin: 0 0 50px 0;
}
.makeBetPanel Button{
	height: 20px;
	width: 100px;
	background-color: #1D37FD;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	align: left bottom;
}
.makeBetPanel Button:hover{
	brightness: 2;
}
.makeBetPanel Button:active{
	brightness: 0.2;
}
#leftBet{
	margin: 0 0 50px 150px;
}
#rightBet{
	background-color: #fd1d1d;
	align: right bottom;
	margin: 0 150px 50px 0;
}
.makeBetPanel Button Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
	align: center center;
	text-align: center;
}
Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
}
.teamG{
	width: 300px;
	flow-children:right-wrap;
}
#leftTeamG{
	align: left center;
	margin: 0 0 50px 50px;
}
#rightTeamG{
	align: right center;
	margin: 0 50px 50px 0;
}
#round{
	align: center top;
}
.topbar{
	align: center top;
	height: 50px;
flow-children: right;
}
.playertb{
width: 65px;
height: 100%;
}
.hpbg{
	align: right center;
	width: 15px;
	height: 50px;
	background-color: #6E0606;
}
.hp{
	width: 100%;
	height: 100%;
	align: right bottom;
	background-color: gradient( linear, 0% 50%, 100% 50%, from( #208310 ), color-stop( .5, #28FD1D), to( #208310 ) );
}
.avatarimage
{
	align: left center;
	width: 50px;
	height: 50px;
	box-shadow: #000000aa 0px 0px 5px 0px;
}
.hpbg Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	align: center center;
	text-align: center;
	text-shadow: 1px 1px 10px 10 #00000099;
}
.teamScenePanel{
	height: 150px;
	width: 100px;
	border: 1px solid black;
}
.teamScene{
	height: 100%;
	width: 100%;
}
.sceneAbilityList{
	width: 100%;
	align: left bottom;
	flow-children: right-wrap;
	z-index: 10;
}
.sceneAbilityList DOTAAbilityImage{
	width: 32.25px;
	height: 32.25px;
	flow-children: right-wrap;
}
.teamSceneLabel{
	align: center top;
	text-align: center;
	margin: 0;
	width: 100%;
	font-size: 10;
	z-index: 10;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #103683 ), color-stop( .5, #1D37FD), to( #103683 ) );
}
#rightTeamG .teamSceneLabel{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #831010 ), color-stop( .5, #fd1d1d), to( #831010 ) );
}