.bawhud{
	height: 100%;
	width: 100%;
}
.betsBg{
	align: center top;
	height: 60px;
	width: 500px;
	margin-top: 75px;
	overflow: noclip noclip;
}
.betsBg Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
}
#rightTeam{
	align: right top;
	text-align: right;
}
.betsBar{
	align: center bottom;
	height: 15px;
	width: 100%;
	background-color: #6E0909;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.hpbarbg{
	align: center bottom;
	height: 10px;
	width: 100%;
}
#leftBar{
	height: 100%;
	width: 50%;
	align: left center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0070dF ), color-stop( .5, #0E80eF), to( #0070dF ) );
}
#rightBar{
	height: 100%;
	width: 50%;
	align: right center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e00a0a ), color-stop( .5, #ed0d0d), to( #e00a0a ) );
}
.betsBar Label{
	font-size: 13;
}
#rightPct{
	margin-left: 5px;
}
#leftPct{
	text-align: right;
	align: right center;
	margin-right: 5px;
}
.makeBetPanel{
	align: center center;
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/hud/reborn/bg_hud_inspect_psd.vtex");
	/*box-shadow: #000000 -12px -12px 24px 24px;*/
	background-size: 100%;
	visibility: collapse;
	z-index: -1;
}
.versus{
	align: center center;
	color:white;
	font-weight: bold;
	font-size: 60;
	text-shadow: 1px 1px 1px 2 #00000099;
	margin: 0 0 50px 0;
}
.makeBetPanel Button{
	height: 30px;
	width: 100px;
	background-color: #1D37FD;
	box-shadow: #000000f5 -4px -4px 8px 8px;
	align: left bottom;
}
.makeBetPanel Button:hover{
	brightness: 2;
}
.makeBetPanel Button:active{
	brightness: 0.2;
}
#leftBet{
	margin: 0 0 50px 16%;
}
#rightBet{
	background-color: #fd1d1d;
	align: right bottom;
	margin: 0 16% 50px 0;
}
.makeBetPanel Button Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
	align: center center;
	text-align: center;
}
Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px 1px 2 #00000099;
}
.teamG{
	width: 45%;
	max-height: 85%;
	flow-children:right-wrap;
	overflow: clip scroll;
}
#leftTeamG{
	align: left center;
	margin: 0 0 0 20px;
	flow-children:left-wrap;
}
#rightTeamG{
	align: right center;
	margin: 0 20px 0 0;
}
#round{
	align: center top;
}

.topbar {
	align: center top;
	height: 75px;
	flow-children: right;
}

.playertb {
	width: 110px;
	height: 100%;

	transition-property: position;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#gold {
	color: gold;
	margin-top: 0px;
	margin-left: 65px;

}

#bet {
	margin-top: 20px;
	color: gold;
	margin-left: 65px;
}

#profit {
	margin-top: 40px;
	color: #50AF1B;
	margin-left: 65px;
}

.hpbg{
	align: right center;
	width: 15px;
	height: 50px;
	background-color: #6E0606;
}
.hp{
	width: 100%;
	height: 100%;
	align: right bottom;
	background-color: gradient( linear, 0% 50%, 100% 50%, from( #208310 ), color-stop( .5, #28FD1D), to( #208310 ) );
}

.avatarimage
{
	align: left top;
	width: 60px;
	height: 60px;
	box-shadow: #000000aa 0px 0px 5px 0px;
}

.hpbg Label{
	color:white;
	font-weight: bold;
	font-size: 16;
	align: center center;
	text-align: center;
	text-shadow: 1px 1px 10px 10 #00000099;
}
.teamScenePanel{
	height: 300px;
	width: 204px;
	border: 1px solid black;
	background-size: 100%;
	background-image: url("s2r://panorama/images/backgrounds/dashboard_background_ingame_psd.vtex");
}
.teamScene{
	height: 70%;
	width: 100%;
	margin-top: 12px;
	z-index: -10;
}
.sceneAbilityList{
	width: 100%;
	align: center bottom;
	flow-children: right;
	z-index: 10;
	margin-bottom: 25px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #25282acc ), color-stop( .5, #25282acc), to( #000000dd ) );
}

.AbilityContainer {
	flow-children: down;
	width: fill-parent-flow(1);
}

.AbilityContainer DOTAAbilityImage{
	width: 34px;
	height: width-percentage(1);
}

#AbilityLevelContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

.LevelPanel
{
	width: 4px;
	height: 4px;
	margin: 3px 2px 3px 2px;
	//border-radius: 1px;

	background-image: none;
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111ff ), to( #000000ff ) );
}

.AbilityMaxLevel7 .LevelPanel
{
	width: 5px;
	height: 5px;
	margin: 1.5px;
}

.active_level.LevelPanel
{
	background-image: none;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E7D291 ), to( #887845 ) );
	border-radius: 0px;
}


.teamSceneLabel{
	align: center top;
	text-align: center;
	margin: 0;
	width: 100%;
	font-size: 10;
	z-index: 10;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #103683 ), color-stop( .5, #1D37FD), to( #103683 ) );
}
#rightTeamG .teamSceneLabel{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #831010 ), color-stop( .5, #fd1d1d), to( #831010 ) );
}
.itemSlots{
	height: 25px;
	width: 100%;
	flow-children: right-wrap;
	align: center bottom;
	background-color: black;
}
.item{
	height: 100%;
	width: 16.6%;
	background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
	background-color: #1a1c1d;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset #00000099 5px 5px 10px 10px 5;
	border: 1px solid black;
	border-bottom: 1px solid #ffffff06;
}
.pwlabel{
	font-size: 30px;
}
#pwleft{
	text-align: right;
	margin: 70px 0 0 15%;
}
#pwright{
	align: right top;
	margin: 70px 15% 0 0;
}
.hpteambg{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #232323 ), color-stop( .5, #4D4D4D), to( #232323 ) );
	box-shadow: #000000f5 -3px -2.5px 5px 5px;
	border-radius: 5px;
	height: 100%;
	width: 45%;
}
.teamhp{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0F4F00 ), color-stop( .5, #167400), to( #0F4F00 ) );
	height: 100%;
	width: 100%;
}
.hpteambg Label{
	align: center center;
	text-align: center;
	font-size: 10;
}
.vote{
	background-color: #195903;
	padding: 10px;
	box-shadow: #000000f5 -3px -2.5px 5px 5px;
	align: right bottom;
	margin: 100px;
	margin-right: 350px;
	z-index: -2;
}
.vote:hover{
	brightness: 2;
}
.vote:active{
	brightness: 0.7;
}
.bar{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #232323 ), color-stop( .5, #4D4D4D), to( #232323 ) );
	width: 100%;
	height: 15px;
	align: center bottom;
	margin-bottom: 73px;
}
.mpbar{
	margin-bottom: 58px;
}
.bar Label{
	align: center center;
	text-align: center;
	font-size: 13;
	margin-bottom: 2px;
}
#unithp{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25));
}
#unitmp{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287 ) );
}
#unithp DOTAScenePanel{
	height: 100%;
	width: 100%;
}
#unitmp DOTAScenePanel{
	height: 100%;
	width: 100%;
	hue-rotation: 50deg;
	opacity: .4;
}
#unithpplus,#unitmpplus{
	align: right center;
	text-align: right;
	color: #41D51A;
	margin-right: 5px;
}
#unitmpplus{
	color: #819FED;
}
#time{
	align: center bottom;
	margin-bottom: -5px;
	font-size: 20;
}
.unitstat{
	color: #aaa;
	font-weight: normal;
	font-size: 14px;
}
.unitstats{
	flow-children: down;
	align: right top;
	margin: 14px 3px 0 0;
}
.unitstat{
	text-align: right;
	align: right top;
	padding-right: 18px;
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: right center;
}
#unitdamage{
	background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
}
#unitarmor{
	background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
}
#unitatkspd{
	background-image: url("s2r://panorama/images/hud/reborn/icon_attack_speed2_psd.vtex");
}
#unitatkrng{
	background-image: url("s2r://panorama/images/hud/reborn/icon_attack_range_psd.vtex");
	wash-color: #aaa;
	color: white;
}

.no_level 
{
	saturation: 0;
	wash-color: #666666;
}





.right{
	horizontal-align: right;
}

#xp {
	margin-top: 15px;

	vertical-align: top;
}


#LevelLabel
{
	font-weight: normal;
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291;
    width: 30px;
    text-align: center;
    vertical-align: bottom;
    font-size: 18px;
	horizontal-align: center;
    z-index: 50;
	
	margin-bottom: 5px;
	margin-left: 3px;
}

#CircularXPProgress
{
    width: 32px;
    height: 32px;
    horizontal-align: left;
	padding: 0px;
	margin-top: 2px;
	margin-left: 5px;
	vertical-align: middle;
	//opacity-mask: url("s2r://panorama/images/masks/vertical_gradient_small_psd.vtex");
}

#CircularXPProgressBlur_FG,
#CircularXPProgress_FG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 1.5px solid #E7D291;
    z-index: 50;
	transition-property: clip;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#CircularXPProgressBlur_BG,
#CircularXPProgress_BG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #393939;
    z-index: 40;
    background-color: #000000FF;
    //box-shadow: #00000055 -2px -2px 4px 4px;
}

#CircularXPProgressBlur_FG
{
	border: 2px solid #DA6F00;
}


#CircularXPProgressBlur_BG
{
	border-color: #000000;
}



.Hero .bar {
	margin-bottom: 83px;
}

.Hero .bar.mpbar {
	margin-bottom: 68px;
}

#TalentsDisplay {
	width: 48px;
	height: 48px;
	vertical-align: bottom;
	margin-bottom: 105px;
	margin-left: 5px;

	tooltip-position: top;
	tooltip-body-position: 50% 100%;
}

.StatBranchPip
{
	width: 46px;
	height: 46px;

	background-image: url("s2r://panorama/images/hud/reborn/statbranch_pip_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
	//wash-color: #E7D291;
	transition-property: opacity;
	transition-duration: 0.0s;
	transition-timing-function: ease-in-out;
	z-index: 1;
}

.LevelProgressBlur,
.LevelProgress
{
	border-radius: 0px;
	width: 50px;
	height: 4px;
	transform: rotateZ(-90deg) translateX(-2px) translateY(37px);
	opacity-mask: url("s2r://panorama/images/hud/reborn/statbranch_progress_mask_psd.vtex") 1.0;
	horizontal-align: right;
    //visibility: collapse;
	//border: 1px solid red;
}

#StatLevelProgressBar
{

	width: 100%;
	border: 0px solid transparent;
	height: 4px;
	vertical-align: middle;


	border-radius: 1px;
	background-color: none;
	box-shadow: none;
}

#StatLevelProgressBarBlur
{
	width: 100%;
	height: 10px;
	background-color: none;
	box-shadow: none;
	border: 0px solid transparent;
	padding: 3px;
	vertical-align: middle;
	border-radius: 0px;
}

.LevelProgressBlur
{
	height: 8px;
	blur: gaussian( 3 );
	z-index: -1;
	transform: rotateZ(-90deg) translateX(-2px) translateY(34px);
	//opacity: 0;
}

#StatLevelProgressBar, #StatLevelProgressBarBlur {
	visibility: visible;
}

#BetContainer {
	width: 70%;
	vertical-align: bottom;
	horizontal-align: center;

	background-color: #00000044;
	box-shadow: #00000080 0px 0px 8px 0px;

	margin-bottom: 50px;

	padding: 10px;
}

#BetSlider {
	width: 60%;
	height: 50px;
	horizontal-align: center;
}

#BetSlider #SliderTrackProgress {
	opacity: 0;
}

#BetSlider #SliderTrack {
	height: 12px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1A2328ff ), color-stop( 0.5, #2D3C43ff ), to( #1A2328ff ) );
}

#BetSlider #SliderThumb {
	width: 25px;
	height: 50px;
}

#LeftInfo, #RightInfo {
	flow-children: down;
}

#LeftInfo {
	margin-left: 50px;
}

#RightInfo {
	margin-right: 50px;
	horizontal-align: right;
}

#LeftBet, #RightBet {
	flow-children: right;

	width: 150px;
	height: 50px;

	background-color: #00000077;
}

#LeftBet {

}

.BetGoldLabel {
	width: 100px;
	color: #A5A5A5;

	text-align: right;

	font-size: 30px;

	horizontal-align: right;
	vertical-align: center;
}

#RightBet .BetGoldLabel {
	text-align: left;
}

.BetGold {
	width: 50px;
	height: 50px;
	
	//saturation: 0;
	//wash-color: #A5A5A5;

	horizontal-align: right;
	vertical-align: center;

	padding: 5px;
}

.Button {
	background-color: #00000077;

	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.Button Label {
	margin-left: 5px;
	color: #A5A5A5;
	horizontal-align: center;
}

.Button:hover{
	brightness: 2;
}

#MaxLeft, #MaxRight {
	horizontal-align: center;
	color: #A5A5A5;
	margin: 5px;
	width: 50px;
	

}

#MaxLeft:hover, #MaxRight:hover {
	brightness: 2;
}

#Reset {
	horizontal-align: center;
	vertical-align: bottom;
}

#MinimalBetCont {
	vertical-align: bottom;
	horizontal-align: center;

	flow-children: right;

		margin-bottom: 10px;
}

#MinimalBet {
	horizontal-align: center;

	font-size: 24px;
}

#ReadyToRound {
	vertical-align: bottom;
	horizontal-align: right;

	margin-bottom: 15px;
	margin-right: 280px;
}

#HelpIcon
{
	width: 24px;
	height: 24px;
	background-image:url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-size: contain;

	vertical-align: center;
}

#BetPercentButtons {
	flow-children: right;

	margin-bottom: 5px;
	margin-left: -10px;
}

#BetPercentButtons .Button {
	margin-right: 5px;
}

.TeamIcon
{
	width: 32px;
	height: 32px;
	vertical-align: bottom;
	//margin-left: 3px;
	margin-right: 3px;
	z-index: 2;
	visibility: collapse;
}

.TeamIcon Image
{
	width: 32px;
	height: 32px;
}

.TeamIcon #IconShadow
{
	width: 32px;
	height: 32px;

	//img-shadow: 0px 0px 4px 2.0 #000000ff;
}

.Left .TeamIcon, .Right .TeamIcon {
	visibility: visible;
}

.Left .TeamIcon #ShieldColor {
	wash-color: #1E90FF;
}

.Right .TeamIcon #ShieldColor {
	wash-color: #f01a1a;
}

.Loser #gold {
	opacity: 0;
}

#UnitCounter {
	font-size: 36px;
	text-shadow: 0px 0px 4px 3 #000000;
	color: white;

	visibility: collapse;

	horizontal-align:right;
	vertical-align: bottom;

	margin-bottom: 85px;
	margin-left: 5px;

	z-index: 11;
}