

#BetsTable {
	flow-children: down;

	vertical-align: top;
	horizontal-align: center;


	box-shadow: #1D2333e0 0px 0px 16px 0px;
}

#TableHeader, .PlayerRow {
	flow-children: right;

	background-color: #1D2333f0;
}

.PlayerRow.LocalPlayer {
	background-color: #474F64f0;
	box-shadow: #1D2333e0 0px 0px 16px 0px;
}

.Even {
	background-color: #272F44f0;
}

#TableRows {
	flow-children: down;
}

#TableHeader, .PlayerRow {
	height: 40px;
}

#TableHeader .ColPlayerName {
	flow-children: right;
	text-align: center;
	vertical-align: center;
}

#TableRows .ColPlayerName  {
	flow-children: right;
	height: 40px;
}

#TableRows .ColBet  {
	flow-children: right;
	height: 40px;
}


#TableRows .ColProfit  {
	flow-children: right;
	height: 40px;
}


#TableHeader Label {
	color: white;
}

.ColPlayerName, .ColBet, .ColProfit, .ColTotal {
	width: 100%;
	height: 25px;
	text-align: center;
	vertical-align: center;

	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 20px;
}

.ColPlayerName {
	width: 220px;
}

.ColBet {
	width: 100px;
}

.ColProfit {
	width: 120px;
}

.ColTotal {
	width: 120px;
}

#TableRows #PlayerName {
	text-align: left;
	vertical-align: center;
	height: 25px;
}

.PlayerRow #Bet, .PlayerRow #Total{
	color: gold;
	text-shadow: none;
	vertical-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
}

.PlayerRow #Profit {
	color: #50AF1B;
	text-shadow: none;
	vertical-align: center;
	horizontal-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
}

.TeamIcon
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	margin-left: 3px;
	margin-right: 3px;
}

.TeamIcon Image
{
	width: 32px;
	height: 32px;
}

.TeamIcon #IconShadow
{
	width: 32px;
	height: 32px;
}

#Profit.Red {
	color: red;
}

.BetGold {
	width: 25px;
	height: 25px;
	vertical-align: center;
}

.HorizCenter {
	horizontal-align: center;
	vertical-align: center;
}

.FlowRight {
	flow-children: right;
}