.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
	overflow: clip;
	background-image: url("file://{images}/custom_game/loading_screen/background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.TitleBig
{
	vertical-align: top;
    horizontal-align: left;
	margin-left: 20px;
	margin-top: 115px;
	font-size: 58px;
	letter-spacing: 3px;
	color: white;
    text-shadow: 0px 1px 12px 3.0 #474c15;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
}

.CompendiumBody
{

	width: 21%;
	height: 503px;
	background-color: #000000aa;
	align: right top;
	margin-top: 260px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 11px;


	/* TI8 */
    background-color: gradient( linear, 0% 0%, 0% 0.01%, from( bp_color1&22 ), color-stop( 0.01, bp_color3&cc), color-stop( 0.5, bp_color1&22), to( bp_color3&cc ) );
	border-top: 1px solid bp_color10&66;
	border-bottom: 1px solid bp_color10&33;
}

.DiscordBody
{
	width: 21%;
	height: 120px;
	align: right bottom;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 11px;
    background-color: gradient( linear, 0% 0%, 0% 0.01%, from( bp_color1&22 ), color-stop( 0.01, bp_color3&cc), color-stop( 0.5, bp_color1&22), to( bp_color3&cc ) );
	border-top: 1px solid bp_color10&66;
	border-bottom: 1px solid bp_color10&33;
	margin-bottom: 180px;
}

#DiscordLogo
{
	width: 300px;
	height: 94px;
	align: center center;
	border-radius: 10px;
}

#DiscordLogo:hover
{
	opacity: 3;
}