.TeamSelect
{
    width: 100%;
    height: 100%;
}

#TeamSelectContainer
{
    width: 100%;
    height: 100%;
	flow-children: right;
}

#TeamsSelectEmptySpace
{
    width: fill-parent-flow(1);
}

#TeamsList
{
    width: 400px;
	height: 100%;
	flow-children: down;    
    padding-left: 16px;
	padding-right: 16px;
    margin-left: 16px;
	margin-top: 165px;
}

#TeamsListGroup 
{
    width: 100%;
    vertical-align: center;
    flow-children: down;    
}

#TeamListHeader
{
    width: 100%;
    flow-children: right;
	color: #323232;
//	border: 2px solid red;	
    visibility: collapse;
}

#TeamListHeaderLabel
{
	text-transform: uppercase;
    font-size: 22px;
	letter-spacing: 1px;
    color: #667273;
	//margin-top: 16px;
    margin-left: 8px;
    visibility: collapse;
}

#TeamListLockedIcon 
{
    width: 16px;
    height: 16px;
    vertical-align: center;
    margin-bottom: 4px;
    visibility: collapse;
    wash-color: #aa0000ee;
}

.teams_locked #TeamListLockedIcon 
{
    visibility: visible;
}

#TeamsListRoot
{
	width: 100%;
    flow-children: down;
    overflow: clip scroll;
}

#ShuffleTeamAssignmentButton
{    
    height: 32px;
    margin-top: 8px;
    margin-left: 6px;
    horizontal-align: left;
    flow-children: right;
    visibility: collapse;
}

.player_has_host_privileges #ShuffleTeamAssignmentButton
{
    visibility: collapse;
}

#ShuffleTeamAssignmentButton Label
{
    font-size: 24px;
	text-transform: uppercase;
    margin-top: 2px;
    margin-right: 5px;
    color: #6e6f6f;
    vertical-align: center;
    visibility: collapse;
}

#ShuffleTeamAssignmentButton:hover Label
{
	color: white;
}

#ShuffleTeamAssignmentButton:active
{
	sound: "ui_team_select_shuffle";
}

#ShuffleTeamAssignmentButton Image
{
    width: 24px;
	height: 24px;
	wash-color: #888888;
    vertical-align: center;
}

#ShuffleTeamAssignmentButton:hover Image
{
	wash-color: white;
}

#GameAndPlayersRoot {
    width: 400px;
    height: 100%;
    flow-children: down;
    visibility: collapse;
}

#GameInfoPanel 
{
    margin: 16px;
    flow-children: down;
}

#GameModeNameLabel 
{
    font-size: 32px;
    text-transform: uppercase;
    visibility: collapse;
}

#MapInfoLabel
{
    color: #a9aaaa;
    text-transform: uppercase;
    visibility: collapse;
}

#StartGameCountdownTimer
{
    width: 96px;
    margin-right: -265px;
    margin-top: 280px;
}

#TeamSelectTimer
{
	margin-top: 8px;
    font-size: 48px;
    color: #CCCCCC;
	horizontal-align: center;
}

#StartGameCountdownTimer.countdown_inactive #TeamSelectTimer 
{
    opacity: 0.0;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;
	margin-top: 2px;
	horizontal-align: center;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#TimerLabelBox 
{
	margin-top: 76px;
    height: 20px;
    width: 100%;
}

#TimerLabelAutoStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.auto_start #TimerLabelAutoStart 
{
    visibility: visible;
}

#TimerLabelGameStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.forced_start #TimerLabelGameStart 
{
    visibility: visible;
}


#StartGameCountdownTimer.countdown_inactive #TimerBg,
#StartGameCountdownTimer.countdown_inactive #TimerRing,
#StartGameCountdownTimer.countdown_inactive #TimerLabelAutoStart,
#StartGameCountdownTimer.countdown_inactive #TimerLabelGameStart,
{
    opacity: 0;
}


#UnassignedPlayerPanel
{
    width: 100%;
	height: fill-parent-flow (1);
    flow-children: down;
	margin-left: 0px;
    margin-right: 74px;
    margin-top: 143px;
    visibility: collapse;
}

#UnassignedPlayersButton
{
    flow-children: down;
	height: 520px;
	max-height: 680px;
	margin-top: 182px;
    width: 100%;
    visibility: collapse;
}

#UnassignedPlayersHeader
{
    horizontal-align: left;
    margin-left: 16px;
    visibility: collapse;
}

#UnassignedPlayersHeader Label {
    color: white;
    margin-left: 30px;
    margin-top: 3px;
    font-size: 22px;
    font-weight: bold;
	vertical-align: top;
	text-shadow: 1px 1px 2px 2.7 #000000; 
	text-transform: uppercase;
    white-space: nowrap;
    visibility: collapse;
}

#UnassignedPlayersDivider 
{	
    width: 100%;
	height: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background-color:gray;
    visibility: collapse;
}

#UnassignedPlayersContainer
{
	width: 100%;
    flow-children: down;
    overflow: clip scroll;
	margin: 16px;
}

#AutoAssignButton
{
    height: 40px;
    width: 270px;
    vertical-align: top;
    horizontal-align: center;
    flow-children: right;
    visibility: collapse;
    margin-top: 15px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #14161a ), to( #23262b ) );
	border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03; 
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: fill #00000000 0px 0px 0px 0px;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    margin-left: 15px;
}

#AutoAssignButton:hover
{
   opacity: 2;
}

.player_has_host_privileges #AutoAssignButton
{
    visibility: visible;
}

#AutoAssignButton Label
{
    font-size: 24px;
	text-transform: uppercase;
    margin-top: 0px;
    margin-left: 5px;
    color: white;
    align: center center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.unassigned_players #AutoAssignButton:hover Label
{
	color: #CCDDFF;
}

.unassigned_players #AutoAssignButton:active 
{    
	sound: "ui_team_select_auto_assign";
}

#AutoAssignButton Image
{
    width: 24px;
	height: 24px;
	wash-color: white;
    vertical-align: center;
}

.unassigned_players #AutoAssignButton:hover Image
{
	wash-color: white;
}

#LockAndStartButton
{ 
    horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #486ca9cc ) );
	box-shadow: fill #486ca922 -4px -4px 8px 8px;
	border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03; 
    border-radius: 5px;
    visibility: collapse;
    visibility: collapse;
}

.unassigned_players #LockAndStartButton 
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #14161a ), to( #23262b ) );
    box-shadow: fill #00000000 0px 0px 0px 0px;
    border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03;
    visibility: collapse;
}

#LockAndStartButton Label 
{
    transition-property: opacity;
    transition-duration: 0.2s;
    visibility: collapse;
}

.unassigned_players #LockAndStartButton Label 
{
    opacity: 0.1;
    visibility: collapse;
}

.player_has_host_privileges #LockAndStartButton
{
    visibility: collapse;
}

.teams_locked #LockAndStartButton 
{    
    visibility: collapse;
}

.no_unassigned_players #LockAndStartButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #84acff ) );
    box-shadow: fill #486ca966 -4px -4px 18px 8px;
    visibility: collapse;
}

.no_unassigned_players #LockAndStartButton:active
{
    sound: "ui_team_select_lock_and_start";
}

#CancelAndUnlockButton
{ 
    horizontal-align: right;
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #722217 ), to( #DD4A29 ) );
	//box-shadow: fill #DD4A2922 -4px -4px 8px 8px;
	//border-top: 1px solid #ffffff03;
	//border-left: 1px solid #ffffff03; 
    visibility: collapse;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c1b1b ), to( #482e2f ) );
    box-shadow: fill #552e2f00 -4px -4px 8px 9px;
	
	border-top: 1px solid #3d2929;
	border-right: 1px solid #372121;
	border-left: 1px solid #372121;
    border-bottom: 1px solid #2e1f21;
    
    border-radius: 5px;
}

#CancelAndUnlockButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #492121 ), to( #9d4c4f ) );
	border-top: 1px solid #7d4141;
	border-right: 1px solid #7a3535;
	border-left: 1px solid #7a3535;
	border-bottom: 1px solid #2e1f21;
    box-shadow: fill #552e2f66 -4px -4px 8px 9px;
    visibility: collapse;
}

#CancelAndUnlockButton:active
{
	//sound: "ui_custom_lobby_quit";
    sound: "ui_team_select_cancel_and_lock";
}


.player_has_host_privileges.teams_locked #CancelAndUnlockButton
{
    visibility: collapse;
}

.TeamSelectTeam
{
    width: 100%;
    margin: 3px;
    margin-bottom: 133px;
}

.TeamSelectTeam.local_player_on_this_team
{
}

.TeamSelectTeam:hover
{    
    //background-color: #272b30dd;
}

#TeamBackgroundGradient {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition-property: background-color, opacity;
    transition-duration: 0.15s;
}

.teams_unlocked .TeamSelectTeam:hover #TeamBackgroundGradient {
    /* visibility: collapse; */
    opacity: 0;
}

#TeamBackgroundGradientHighlight {
    width: 100%;
    height: 100%;
    /* visibility: collapse; */
    opacity: 0;
    transition-property: background-color, opacity;
    transition-duration: 0.15s;
}

.teams_unlocked .TeamSelectTeam:hover #TeamBackgroundGradientHighlight {
    /* visibility: visible; */
    opacity: 1;
}

#TeamGroup 
{
	background-color: transparent;
    width: 100%;
    padding: 4px;
    flow-children: down;
}

#TeamHeader
{
    width: 100%;
    flow-children: right;
    margin-left: 90px;
}

#TeamNameLabel
{
    font-size: 22px;
    font-weight: bold;
	vertical-align: top;
	text-shadow: 1px 1px 2px 2.7 #000000;
   	margin-left: 5px;
    margin-top: 3px;    
	text-transform: uppercase;
	white-space: nowrap;
    width: 100%;
    color: white;
}

#JoinTeamLabel
{
    color: #444444;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
    horizontal-align: right;
	vertical-align: center;
	margin-top: 4px;
	
	transition-property: color;
	transition-duration: 0.2s;
}

.teams_unlocked .TeamSelectTeam:hover #JoinTeamLabel
{
	color: white;
}

.TeamSelectTeam.team_is_full #JoinTeamLabel
{
    opacity: 0;
}

.TeamSelectTeam.local_player_on_this_team #JoinTeamLabel
{
    opacity: 0;
}

.TeamSelectTeam.local_player_is_ready #JoinTeamLabel
{
    opacity: 0;
}

#TeamPlayerDivider {
    width: 340px;
    height: 2px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 9px;
    background-color: rgb(192, 192, 192);
}

#PlayerList
{
    width: 100%;
    flow-children: down;
    width: 100%;
}

#player_root
{
	width: 100%;
}

.player_slot
{
    height: 32px;
    width: 100%;
    flow-children: right;
    margin-top: 2px;
    margin-left: 8px;
}

.TeamSelectPlayer
{
    width: 100%;
    flow-children: right;
    vertical-align: middle;
    flow-children: right;
}

DOTAAvatarImage {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

DOTAAvatarImage #AvatarImage {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

#AvatarImage {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

DOTAAvatarImage.EventPointTierBronze #AvatarImage,
DOTAAvatarImage.EventPointTierSilver #AvatarImage,
DOTAAvatarImage.EventPointTierGold #AvatarImage,
DOTAAvatarImage.EventPointTierPlatinum #AvatarImage {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

#PlayerAvatar {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

.PlayerAvatar {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

#PlayerIsHostPanel
{   
    background-image: url("s2r://panorama/images/status_icons/proplayer_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: noclip;
    width: 24px;
    height: 24px;
    visibility: collapse;
    margin-top: 3px;
    margin-right: 4px;
    margin-left: 4px;
    tooltip-position: left;
    wash-color: gold;
}

.TeamSelectPlayer.player_has_host_privileges #PlayerIsHostPanel
{
    visibility: visible;
}

#PlayerName
{
	 color: white;
    vertical-align: middle;
    margin: 3px;
    text-shadow: 1px 1px 2px 3.0 #000000;
    width: fill-parent-flow(1);
    white-space: nowrap;
    margin-top: 2px;
}

#PlayerLeaveTeamButton 
{
	width: 24px;
	height: 24px;
	wash-color: #aa0000ee;
	
	background-image: url("file://{images}/control_icons/x_close.png");
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 4px;
        
    visibility: collapse;
    transition-property: wash-color;
    transition-duration: 0.2s;
}

#PlayerLeaveTeamButton:hover
{
    wash-color: red;
}

.teams_unlocked .TeamSelectTeam .player_is_local #PlayerLeaveTeamButton
{
    visibility: visible;
}

.TeamSelectEmptySlot 
{
    flow-children: right;
}

.TeamSelectEmptySlot #PlayerName
{
	color: rgb(192, 192, 192);
    letter-spacing: 1px;
    font-size: 18px;
    font-family: defaultFont;
    margin-top: 4px;
}

#EmptySlotIcon 
{	
    width: 32px;
	height: 32px;
    opacity: 0.7;
    background-image: url("s2r://panorama/images/compendium/international2018/icon_tipping_token_png.vtex");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    margin-top: 6px;
}

#TeamBetIcon 
{	
    width: 32px;
	height: 32px;
    opacity: 1.5;
    background-image: url("s2r://panorama/images/compendium/international2020/totaltokens_psd.vtex");
    background-size: 32px 32px;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 8px;
}